:root {
 --bs-primary: #4e9760;
 --bs-secondary: #6c757d;
}

/* Sample additional css override after apply a them.
 This adds Bootstrap's own documentation example highlight */
.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -.75rem 0;
    border: solid #dee2e6 1px;
}

body {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

.bg-light {
    background: #e6efef !important
}
[data-bs-theme="dark"] .bg-light{
  background: #344 !important
}

.table {
   color: var(--bs-body-color);
}
